* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
}

button {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.body-container {
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
.header p {
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  color: #000000;
  margin-right: 4em;
  max-width: 27em;
}
.header a {
  background: linear-gradient(180deg, #f42c2b 0%, rgba(0, 0, 0, 0) 100%), #460d09;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 1em 2em;
}

/*section-girls*/
.section-girls {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: url(../img/s1-girls.jpg), no-repeat;
  background-size: cover;
  height: 50em;
  color: #ffffff;
  padding: 1.5em 3.75em;
}
.section-girls h1 {
  max-width: 77%;
  font-size: 2.7em;
  font-weight: 700;
}
.section-girls h1 span {
  color: #f8c67d;
}
.section-girls h2 {
  font-weight: 400;
  max-width: 20em;
  margin-bottom: 5em;
}
.section-girls p.section-girls--left-text {
  font-size: 1em;
  font-weight: 600;
}

.section-girls--description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  position: relative;
}

.section-girls--advantages-wrapper p {
  font-size: 1em;
  margin-bottom: 2.5em;
  max-width: 8em;
  position: relative;
}
.section-girls--advantages-wrapper p:first-child {
  left: 10em;
}
.section-girls--advantages-wrapper p:nth-child(2) {
  left: 7em;
}
.section-girls--advantages-wrapper p:last-child {
  left: 10em;
}

.section-girls--img {
  position: absolute;
  right: 230px;
  top: -123px;
}

.promo {
  width: 15em;
  height: 22em;
  background-color: #ffffff;
  color: #000000;
  padding: 1.5em 1em;
  border-radius: 15px;
  font-weight: 400;
}

.promo--bold-text {
  font-weight: 600;
}

/*sultan*/
.sultan h2 {
  text-align: center;
  max-width: 21em;
  margin: 0 auto 1em;
}
.sultan p > span {
  font-weight: 600;
}
.sultan div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sultan--text {
  padding: 2em 4em;
}

/*harem*/
.harem {
  padding: 1.5em;
  margin: 1.5em;
  background-color: #420707;
  border-radius: 15px;
  border-radius: 15px;
}
.harem h3 {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  max-width: 20em;
}
.harem h3 span {
  font-weight: 600;
}

.harem--div-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.harem--border {
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.harem__a {
  width: 31%;
  height: 11em;
  background-repeat: no-repeat;
  background-size: contain;
  color: #140202;
  font-weight: 700;
  text-align: center;
  padding: 6em 2em 0;
  border-radius: 15px;
}
.harem__a p {
  font-size: 1em;
}
.harem__a:first-child {
  background-image: url(../img/s3-1.png);
}
.harem__a:nth-child(2) {
  background-image: url(../img/s3-2.png);
}
.harem__a:last-child {
  background-image: url(../img/s3-3.png);
}
.harem__a span {
  display: block;
  font-size: 0.7em;
}

/*doctors*/
.doctors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8c67d;
}
.doctors p {
  padding: 2em 4em;
}

/*recipe*/
.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 3.75em;
  font-weight: 600;
  text-align: center;
}
.recipe p {
  margin-right: 2em;
}

/*faq*/
.faq {
  padding: 1.5em;
  margin: 1.5em;
  background-color: #420707;
  border-radius: 15px;
  border-radius: 15px;
}
.faq h2 {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  max-width: 20em;
}

.faq--border {
  border: 2px solid #ffffff;
  border-radius: 15px;
}

/*license*/
.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8c67d;
}
.license p {
  margin-right: 2em;
}

/*discount*/
.discount {
  background: url(../img/s8-abst.png) center no-repeat;
  height: 655px;
  background-position: 0 100%;
  background-size: cover;
}

@media (max-width: 1450px) and (min-width: 320px) {
  .discount {
    background-size: auto;
    padding: 1.5em 3.75em;
  }
  .discount p {
    color: #ffffff;
    font-weight: 600;
  }
}